* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0a0a10; 
  color: #ffffff; 
}

h2, .artworktext {
  text-align: center;
  margin-left: 20px;
  font-size: 24px;
  color: #ffffff; 
}


.service-section {
  padding: 20px;
  background-color: #0a0a10;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(172, 201, 40);
  padding: 20px;
}

.logo-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.logo-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-grow: 1;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.service-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.service-card {
  background-color: rgb(172, 201, 40); 
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}

.service-card .image-placeholder {
  background-color: #a4048c; 
  height: 150px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.service-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff; 
}

.service-card p {
  font-size: 14px;
  color: #ffffff; 
}


.artwork-section {
  padding: 20px;
  background-color: #11111b; 
}

.artwork-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.artwork-item {
  background-color: rgb(172, 201, 40);
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.see-more-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #a4048c; 
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #ffffff; 
  color: #0a0a10;
}
